VAGRANT_CLOUD_TOKEN="HEIdzyyw1CRdPA.atlasv1.2izxzl8jRpPWOTt0J0XSEAjQDH2NoSvIMlBzvJTtppBmLdvXmh4nvjWEnnDw1bksyEg"
VAGRANT_CLOUD_BOXTAG="avisiedo/freeipa-workshop-fedora-32"
VAGRANT_CLOUD_VERSION="1.0.0"
